#button1{
color: white;
font-size: 1.5625rem;
font-family: monospace;
height: 20.7%;
width: 18%;
transition: 0.5s;
cursor: crosshair;}

#button1:hover{color: #ff4d4d;}

main{width: 100%;
height: 52%;
display: flex;
justify-content: space-between;}

.coll-1{width: 29%;
height: 126%;
display: flex;
flex-direction: column;
justify-content: space-between;}

#ul{width: 50%;
height:75% ;
display: flex;
flex-direction: column;
justify-content: space-between;
list-style-type: none;
color:#ff4d4d;
font-size: 1.375rem;
padding: 1.4vh;}

#ul li span{color: white;
font-size: 1.5625rem;
transition: 0.5s;}

#ul li span:hover{cursor: crosshair;
color: #ff4d4d;}

#input{color: #ff4d4d;
font-size: 1.375rem;
width: fit-content;
min-width: 50%;
max-width: 100%;
height: 16%;
display: flex;
align-items: center;
padding: 1.4vh;}

#input p {overflow: hidden;}

#input p span{color: white;
font-size: 1.5625rem;
white-space: nowrap;}

#submit1:hover{cursor: crosshair;
color: #ff4d4d;
transition: 0.5s;}

#submit2:hover{cursor: crosshair;
color: #ff4d4d;
transition: 0.5s;}

#historique{width: 18%;
height: 163%;
padding: 1.4vh;
font-size: 1.375rem;;
color: #ff4d4d;}

#historique p{
overflow: hidden scroll;
height: 100%;
}

#historique p span{color: white;
line-height: 4vh;
font-size: 1.5625rem;}

#historique p span:hover{
cursor: crosshair;
color: #ff4d4d;
transition: 0.5s;
}

#historique p span:last-child{
font-size: 1.375rem;;
color: #ff4d4d;}

#historique p span:last-child:hover{
cursor: initial ;
}

.style-code{background-color: #1e1e1e;}

#video{position: fixed;
width: 100%;
height: 100vh;
z-index: -50;
display: flex;
align-items: start;
justify-content: center;}

#video img{position: absolute;}

#videfond{height: 85.6%;
top: -9%;}

#videmoi{height: 76%;
top: 1%;}

#minimoi{scale: 0.1;
z-index: 2;}
.minimoi{scale: 0.1;}

#indic{font-size: 1.2rem;
color: white;
opacity: 0.4;
position: absolute;
bottom: 6%;
right: 2%;
animation-name: clignote;
animation-duration: 1.2s;
animation-iteration-count: infinite;
display: none;
}

.end{animation-name: clignote-fort;
animation-duration: 1.4s;
animation-iteration-count: infinite;
animation-timing-function: step-end;
}


.wave span {
display: inline-block;
animation-iteration-count: infinite;
animation-delay: calc(var(--i) * 0.1s);
}

.wobble span{animation-name: wobble;
animation-duration: 0.9s;
animation-timing-function: ease-in-out;
}

.gay span{animation-name: gay;
animation-duration: 1s;}

.angy span{animation-name: angy;
animation-duration: 0.5s;
color: #ff4d4d;
text-shadow: #ff0000 1px 0 20px;}

.gay-wobble span{animation-name: gay, wobble;
animation-duration: 1s;}

.bold span{animation-name: clignote-fort;
animation-duration: 1s;}

.skew span{ animation-name: skew;
animation-duration: 1.4s;}


@keyframes fade {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

@keyframes skew {
    0%, 100% {
        transform: skew(0);
    }
    25% {
        transform: skew(16deg,16deg);
    }
    75%{
        transform: skew(-16deg,-16deg);
    }
}

@keyframes wobble {
    0% {
        transform: translateY(0px);
    }
    33% {
        transform: translateY(6px);
    }
    66%{
        transform: translateY(-6px);
    }
}

@keyframes angy {
  0%, 100% {
    text-decoration : underline overline;
  }
  50% {
    text-decoration : none;
  }
}

@keyframes gay{
    0%,100% {color: #ff4d4d;}
    20% {color: yellow;}
    40% {color: rgb(0, 178, 0);}
    60% {color: rgb(0, 123, 255);}
    80% {color: rgb(152, 0, 176);}
}

@keyframes clignote {
    0% {opacity: 0.4;}
    50% {opacity: 0.9;}
    100% {opacity: 0.4;}
}

@keyframes clignote-fort{
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}